@import './base.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 400px;
  margin: 0 auto;
  font-weight: normal;
}




body {
  display: flex;
  place-items: center;
}

#app {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  padding: 2rem;
}


